body {
    background-color: #d9b38c;
    margin: auto;
    color: #734d26;
    font-family: 'Shrikhand', cursive;
}

.logo-image {
    /* background-image: url("..//img/burger_1.png"); */
    display: block;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

/* .background-image {
    background-image: url("..//img/dinner_b.ground_1.jpg");
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .2;
    height: 1200px;
    width: 100%;
    z-index: -50;
} */

* {
    box-sizing: border-box;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 100%;
    margin-top: auto;
    clear: both;
}

#banner-header {
    position: fixed;
    width: 100%;
    background-color: #734d26;
    z-index: 50;
    height: 25px;
}

.b.ground-image {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    z-index: -99;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    clear: both;
    background: #734d26;
    width: 100%;
}

.header {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

.menu-field {
    float: left;
    margin-left: 225px;
}

.ate-field {
    float: right;
    margin-right: 225px;
}

.form-group {
    text-align: center;
}

.burger-field {
    background-color: white;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 4px;
    text-align: center;
    margin-right: 10px;
}

.add_burger {
    padding-top: 2px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 75px;
}

.burger-line {
    display: inline-flex;
}

.devour-button {
    margin-top: 9px;
    padding-top: 2px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
}

.burger-label {
    margin-right: 10px;
    margin-top: 5px;
}

.add-button {
    margin-bottom: 50px;
}